/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {

font-size: small;
margin:20px;
border: double 8px;
border-color : darkgrey  ;
width:95%;
margin-top:10px;


}
#titel  {
 background-color: green;
 
 border: inset;
 
 
 height:100px;
 padding-left:55px;
}
h2{
font-family: verdana;
 font-size: 24px;
 font-stretch: wider;
 text-align:left;
text-shadow: 2px 2px darkgrey;
color: lightgreen;
}
