<!DOCTYPE html>
<html>
<head>
  <title>Depot</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
 
 
</head>
<body>
<div id="titel">
<h2>MARCO'S WEB-STORE   </h2>
</div>
<center><%= yield %></center>


</body>
</html>
